div.field-type-taxonomy-term-reference {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
}
div.field-type-taxonomy-term-reference .field-label {
  font-size: 1em;
  font-weight: bold;
}

#content .node .node {
  margin-top: 1em;
}
#content .node .node .meta.submitted {
  display: none;
}
#content .node .node h2,
#content .node .node .content {
  font-size: 1em;
  margin-top: 0;
}
#content .node .entity-field-collection-item .content {
  margin-top: 0;
}

.sidebar .block .content {
  font-size: 1em;
}

.views-field-name .user-picture {
  display: inline;
  float: right;
}

#field-task-attempt-values .field-multiple-drag {
  display: none;
}
#footer-wrapper .menu .menu li a:before {
  content: ' - ';
}
#highlighted {
  font-size: 100%;
  border: solid 1px #ddd;
  background-color: #fafafa;
  padding-left: 10px;
  padding-right: 10px;
}
.codeblock code {
  background-color: inherit;
}
.node li {
  margin-bottom: 6px;
}
ul ul {
  margin-bottom: 4px;
}
blockquote p {
  margin-top: 1.2em;
}
blockquote > p:last-child {
  display: inline;
}
.node-task .field-name-body {
  border: solid 2px #c1d2f2;
  padding: 1em;