/**
 * @file
 * Styling for the office hours participants views.
 */

.view-attendance caption {
  font-size: 2em;
}
.view-attendance th,
.view-attendance td {
  width: 115px;
}
.view-attendance th.task-followup,
.view-attendance td.task-followup {
  width: 135px;
}
.view-attendance th.task-title,
.view-attendance td.task-title {
  width: 280px;
}
.task-progress.No-current-work {
  background-color: #e8c3c3;
}
.task-progress.Work-in-progress {
  background-color: #fceec6;
}
.task-progress.Work-complete {
  background-color: #d5e3cb;
}
.task-followup.Awaiting-followup {
  background-color: #e8c3c3;
}
.task-followup.Needs-mentor-review {
  background-color: #fceec6;
}
.task-followup.Completed {
  background-color: #d5e3cb;
}
